

.product_card {
    color: rgb(92, 92, 92);
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    height: 100%;
    width: 300px;
    box-shadow: 5px 5px 12px black;
}

.card {
    display:flex;
    flex-direction: column;
    position: relative;
}

.product_card footer {
    background-color: rgb(14, 209, 144);
    width: 100%;
    display:flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius:0px 0px 10px 10px;
}

.product_card footer span{
    padding:5px 15px;
    height: 100%;
}


.product_card img{
    padding:5px 15px;
    min-width: 200px;
    min-height: 200px;
    object-fit: contain;

}

.product_card p{
    max-width: 25ch;
    min-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: wrap;
    align-items: start;
}

